@charset "UTF-8";

@font-face {
    font-family: 'Revolin';
    src: url('../fontes/Revolin-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Galvanizer';
    src: url('../fontes/Galvanizer-Bold.otf') format('opentype'), url('../fontes/Galvanizer-Bold.ttf') format('truetype');
}

/* GERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h1, h2, h3 {
    font-family: 'Revolin', sans-serif;
}

h3 {
    font-size: 1.5em;
    margin: 15px 0px;
}

p {
    font-family: 'Galvanizer', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    margin: 40px 0px;
    line-height: 30px;
}

h2.titulo {
    font-size: 2.5em;
    text-align: center;
    margin-top: 100px;
}

/* CABEÇALHO */
header {
    background: #222222;
    padding: 20px 4%;
    height: 150px;
    width: 100%;
    
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #DD0613;
    transform: scale(1.1);
    transition: 0.2s;
}

header nav ul {
    list-style: none;
}

header nav.menu-d ul li {
    display: inline-block;
    padding: 0 40px;
}

header .botao button {
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #DD0613;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

header .botao button:hover {
    box-shadow: 0px 0px 8px #DD0613;
}

/* MENU MOBILE NO DESKTOP */

.menu-m {
   display: none;
}

.btn-abrir-menu i {
    display: none;
}

/* TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
font-size: 3em;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* SOBRE O CURSO */

/* CONTEÚDOS */
section.conteudos {
    padding: 40px 4%;
}

section.conteudos .flex {
    gap: 60px;
}

.conteudos .conteudos-box {
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.2s;
}

.conteudos .conteudos-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px red;
}

.conteudos .conteudos-box i {
    font-size: 70px;
    color: #DD0613;
}

.dif {
    margin: 22px 0px;
}

/* MEDIA QUERY MOBILE */

@media screen and (max-width: 1305px) {
    /* CABEÇALHO */
    .menu-d, .botao {
        display: none;
    }

    /* GERAL */
    .flex {
        flex-direction: column;
    }

    /* IMAGEM */
    .topo-do-site .img-topo-site img {
        animation: none;
        width: 100%;
    }

    /* TEXTOS */
    h1 {
        text-align: center;
    }

    h2.titulo {
        font-size: 2.2em;
        margin-top: 10px;
    }

    p {
        padding: 0px 20px;
    }

    /* CAIXAS */
    .conteudos .conteudos-box {
        border: 1px solid red;
    }

    .conteudos .conteudos-box:hover {
        transform: scale(1);
        box-shadow: 0px 0px 0px;
    }

    /* MENU MOBILE NO MOBILE */

    .btn-abrir-menu i {
        display: inline;
        color: red;
        font-size: 40px;
    }

    .menu-m {
        display: inline;
        position: fixed;
        background: gray;
        height: 100vh;
        width: 0%;
        top: 0px;
        right: 0px;
        z-index: 99999;
        overflow: hidden;
        transition: 0.3s;
    }

    .menu-m.abrir-menu {
        width: 60%;
    }

    menu-m.abrir-menu ~ .overlay-menu {
        display: block;
    }

    .menu-m .btn-fechar {
        padding: 20px 4%;
    }

    .menu-m .btn-fechar i {
        color: red;
        font-size: 30px;
    }

    .menu-m nav ul {
        text-align: right;
    }

    .menu-m nav ul li a {
        color: white;
        font-size: 1.4em;
        font-weight: 300;
        padding: 10px 8%;
        display: block;
    }

    .menu-m nav ul li a:hover {
        background: red;
    }

    .overlay-menu {
        position: fixed;
        display: none;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.438);
        width: 100%;
        height: 100%;
        z-index: 88888;
    }
}