@charset "UTF-8";

@font-face {
    font-family: 'Revolin';
    src: url('../fontes/Revolin-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Galvanizer';
    src: url('../fontes/Galvanizer-Bold.otf') format('opentype'), url('../fontes/Galvanizer-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Darklinos';
    src: url('../fontes/darklinos.otf') format('opentype'), url('../fontes/darklinos.ttf') format('truetype');
}

@font-face {
    font-family: 'Borneox';
    src: url('../fontes/BORNEOX.otf') format('opentype');
}

@font-face {
    font-family: 'Quixotic';
    src: url('../fontes/Quixotic.otf') format('opentype');
}

/* GERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h1, h2, h3 {
    font-family: 'Revolin', sans-serif;
}

h3 {
    font-size: 1.5em;
    margin: 15px 0px;
}

p {
    font-family: 'Galvanizer', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    margin: 40px 0px;
    line-height: 30px;
}

h2.titulo {
    font-size: 2.5em;
    text-align: center;
    margin-top: 100px;
}

/* CABEÇALHO */
header {
    background: #222222;
    padding: 20px 4%;
    height: 150px;
    width: 100%;
    border-bottom: 2px solid red;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: inline-block;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #DD0613;
    transform: scale(1.1);
    transition: 0.2s;
}

header nav ul {
    list-style: none;
}

header nav.menu-d ul li {
    display: inline-block;
    padding: 0 40px;
}

header .botao button {
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #DD0613;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

header .insta a i {
    font-size: 50px;
    padding: 0px 10px;
    color: red;
}

header .insta > p {
    display: inline-block;
    font-size: 1.2em;
    color: rgb(223, 223, 223);
}

header .botao button:hover {
    box-shadow: 0px 0px 8px #DD0613;
}

/* MENU MOBILE NO DESKTOP */

.menu-m {
   display: none;
}

.btn-abrir-menu i {
    display: none;
}

/* TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
font-size: 3em;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* CONTEÚDOS */
section.conteudos {
    padding: 40px 4%;
}

section.conteudos .flex {
    gap: 60px;
}

.conteudos .conteudos-box {
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.2s;
}

.conteudos .conteudos-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px red;
}

.conteudos .conteudos-box i {
    font-size: 70px;
    color: #DD0613;
}

.dif {
    margin: 22px 0px;
}

/* RODAPÉ */
footer {
    background: #222222;
    border-top: 2px solid red;
}

footer h3 {
    text-align: center;
    color: white;
    font-size: 2.2em;
    padding: 5px;
}

footer p {
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.lado {
    display: inline-block;
    margin: 0px 150px;
}

.fonte1 {
    font-family: 'Darklinos', sans-serif;
}

.fonte2 {
    font-family: 'Borneox', sans-serif;
}

.fonte3 {
    font-family: 'Quixotic';
}

/* MEDIA QUERY DOS MONITORES BOMBA */
@media screen and (max-width: 1280px){
    .conteudos > .interface > .flex {
        flex-direction: column;
    }

    p {
        padding: 10px;
    }
}